<header></header>
<main class="container-fluid">
    <div class="row">
        <div class="col mb-5">
                <div class="empresaPrincipal text-center">
                        <img src="assets/images/logos/icaai_logo.png" id="logoICAAI" class="empresas"/>
                </div>
        </div>
    </div>

    <section class="empresas">
        <div class="row">
            <div class="col-12 col-sm-5 col-lg-4">
                    <a href="#home"><img src="assets/images/logos/lorval_logo.png" class="empresa" id="logoLorval"/></a>
            </div>
            <div class="col-sm-1 col-lg-2"></div>
          <div class="col-sm-1 col-lg-2"></div>
          <div class="col-12 col-sm-5 col-lg-4 text-right">
            <img src="assets/images/logos/loredogalicia_logo.png"  class="empresa"  id="logoLoredoGalicia" />
          </div>

        </div>
        <div class="row ">
            <div class="col-sm-1 col-lg-2"></div>
            <div class="col-12 col-sm-5 col-lg-4">
                    <img src="assets/images/logos/logi_logo.png" class="empresa"  id="logoLogi"/>
            </div>
          <div class="col-12 col-sm-5 col-lg-4 text-right">
            <img src="assets/images/logos/loga_logo.png" class="empresa"  id="logoLoga" />
          </div>
            <div class="col-sm-1 col-lg-2"></div>
        </div>

    </section>
</main>
<footer></footer>
