main {
  display: grid;
  height: calc(100vh - 90px);
  padding-top: 10px;
  padding-bottom: 0;
}

header {
  background: #06038D;
  height: 30px;
  width: 100vw;
}

footer {
  height: 60px;
  background-image: url("images/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.row {
  min-height: 15vh;
}

#logoICAAI {
  max-height: calc((100vh - 120px) / 2);
  max-width: 100%;
  width: auto;
  margin: auto;
}

section.empresas img.empresa {
  height: 14vh;
  max-width: 100%;
  width: auto;
}
.empresas .row{
  margin-top: 3vh;
}

/* Portrait tablets and small desktops */
@media (max-width: 900px) {
  header {
    height: 10px;
  }
  main {
    padding-top: 2px;
    height: calc(100vh - 30px);
  }
  footer {
    height: 20px;
  }

}

@media (max-width: 580px) {
  .empresas .row{
    margin-top: 0;
  }
  .empresas img.empresa {
    max-height: 10vh;
    display: block;
    margin: 10px auto auto;
  }
}
