<h3>EJECUCIÓN DE OBRAS</h3>
<p>Ejecución de obras que van desde: terracerías, pavimentos, urbanizaciones, edificación, obra civil, acabados, impermeabilización, canceleria, carpinteria; instalaciones para agua potable, alcantarillado sanitario y pluvial; instalaciones eléctricas, alumbrado público, redes telefónicas, aire acondicionado, redes de voz y datos; así como obras de ingeniería ambiental como son: cárcamos de re-bombeo, cárcamos de tormentas, plantas de tratamiento de aguas residuales y tanque superficiales de agua potable.</p>

