<div class="wrapperWatermark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-5">
              <div class="header"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-5">
            <h1 style="line-height: 1;">Servicios</h1>
          </div>
        </div>
        <div class="row">
          <aside class="col-12 col-md-5">
            <nav class="mnuAside" >
                <ul class="">
                    <li  [ngClass]="{'selected': selectedOption=='estudiosProyectos'}"
                    (click)="select_option('estudios-proyectos')">
                      <a>Estudios y proyectos</a>
                    </li>
                    <li  [ngClass]="{'selected': selectedOption=='consultoria'}"
                    (click)="select_option('consultoria')">
                      <a>Consultoría de ingeniería de costos</a>
                    </li>
                    <li  [ngClass]="{'selected': selectedOption=='coordinacion'}"
                    (click)="select_option('coordinacion')">
                      <a >Coordinación, supervisión y control de obras</a>
                    </li>
                    <li  [ngClass]="{'selected': selectedOption=='ejecucion'}"
                    (click)="select_option('ejecucion')">
                      <a  >Ejecución de obras</a>
                    </li>
                </ul>
            </nav>
          </aside>
          <div class="col-7 d-none d-md-block" ngClass="{'d-block':selectedOption, 'd-none': !selectedOption}" [ngSwitch]="selectedOption">
              <div class="boxMessage" *ngSwitchCase="'estudiosProyectos'">
                <app-subpage-estudios-proyectos></app-subpage-estudios-proyectos>
              </div>
              <div class="boxMessage" *ngSwitchCase="'consultoria'">
                <app-subpage-consultoria></app-subpage-consultoria>
              </div>
              <div class="boxMessage" *ngSwitchCase="'coordinacion'">
                <app-subpage-coordinacion></app-subpage-coordinacion>
              </div>

              <div class="boxMessage" *ngSwitchCase="'ejecucion'">
                <app-subpage-ejecucion></app-subpage-ejecucion>
              </div>




            </div>
          </div>
          <div class="row">
            <div class="col mt-4">
              <app-simple-gallery></app-simple-gallery>
          </div>
          </div>
        </div>
</div>
