<div class="wrapperWatermark">
    <div class="container-fluid">

        <div class="row">
          <div class="col-12 col-md-7 col-xl-5">
            <h1>Servicios</h1>
            









          </div>
        </div>
        <div class="row">
          <aside class="col-4">
            <nav class="mnuAside" >
                <ul class="">
                    <li>Estudios y proyectps</li>
                    <li>Consultoria de ingenieria de costos</li>
                    <li>Coordinacion, supervision y control de obras</li>
                    <li>Ejecución de obras</li>
                </ul>
            </nav>
              
          </aside>
          <div class="col-8">

          </div>
        </div>
        
    </div>      
</div>

