:host  {
    display: block;
    background-image: url("/assets/images/marcaaguaweb1.png");
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
img.logoLorval{
    max-height: 10vh;
    width: auto;
}

.slider1{
    background: url("/assets/images/imgPersona.jpg");
    background-repeat: no-repeat;

}
.slider2{
    background: url("/assets/images/imgPlanos.jpg");
    background-repeat: no-repeat;

}
.slider1, .slider2{
    background-repeat: no-repeat;
    min-height: 33vh;
    background-position: center;
    background-size: cover;

}

section.slider{
    display: block;
    max-height: 30vh;
}

section.mainMenu{
    display: block;
    padding-top: 15vh;
    max-height: 33vh;
}

header{
    display: flex;
    max-height: 30vh;
    padding: 5vh 3vw 5vh 5vw;

}

header .logo{
    background: rgba(255,255,255, 0.5);
}


@media (max-width: 768px) {
    header .logo{
        width: 100vw;
    }
}
