<header></header>
<main>
    <div>
        <img src="assets/images/logos/icaai_logo.png" id="logoICAAI" class="responsive"/>
    </div>
    <section class="empresas">

        <div class="top">
            <img src="assets/images/logos/lorval_logo.png" class="empresas" id="logoLorval"/>
        </div>
        <div class="bottom">
            <img src="assets/images/logos/logi_logo.png" class="empresas"  id="logoLogi"/>
        </div>
        <div class="top">
            <img src="assets/images/logos/loga_logo.png" class="empresas"  id="logoLoga" />
        </div>
        <div class="bottom">
            <img src="assets/images/logos/loredogalicia_logo.png"  class="empresas"  id="logoLoredoGalicia" />
        </div>
    </section>
    
</main>
<footer></footer>