:host  {
    display: block;
    background-image: url("images/backgroundStrong.png");
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
    width: 100vw;
}



.slider1{
    background: url("images/imgPersona.png");
    background-repeat: no-repeat;
}
.slider2{
    background: url("images/imgPlanos.png");
    background-repeat: no-repeat;
}
.slider1, .slider2{
    background-repeat: no-repeat;
    min-height: 30vh;
    background-size: 100% 100%;
}

section.slider{
    display: block;
    max-height: 30vh;
}

section.mainMenu{
    display: block;
    padding-top: 15vh;
    max-height: 33vh;


}

header{
    display: flex;
    max-height: 30vh;
    padding: 5vh 3vw 5vh 5vw;

}

header .logo{
    max-width:  45vw;
    background: rgba(255,255,255, 0.5);
}


@media (max-width: 768px) {
    header .logo{
        width: 100vw;
        max-height: 30vh;
    }
}
