<div class="wrapperWatermark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="header"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-5">
        <h1>Nosotros</h1>
        <p>
          Somos un grupo de profesionistas con larga experiencia y capacidad técnica en cada una de las áreas de la
          industria de la construcción de toda clase de obras de ingeniería y arquitectura, tanto en obras públicas
          como privadas
        </p>
      </div>
      <div class="col-md-7 d-none d-md-block" [ngSwitch]="selectedOption">
        <div class="boxMessage" *ngSwitchCase="'mision'">
          <h3>{{content.mision.title}}</h3>
          <div class="content" [innerHTML]="content.mision.content"></div>
        </div>
        <div class="boxMessage" *ngSwitchCase="'vision'">
          <h3>{{content.vision.title}}</h3>
          <div class="content" [innerHTML]="content.vision.content"></div>
        </div>
        <div class="boxMessage" *ngSwitchCase="'politica'">
          <h3>{{content.politica.title}}</h3>
          <div class="content" [innerHTML]="content.politica.content"></div>
        </div>
      </div>
      <div class="frase"></div>

    </div>

    <div class="row">
      <div class="col-12 col-md-5">
        <mnu-about-us (selected)="menuSelect($event)"></mnu-about-us>
      </div>
    </div>
    <p>
    </p>

  </div>

</div>
