.header{
  background-image: url("/assets/images/headers/clientes.png");
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.clientes{
  margin: auto 12vw auto 12vw;
  display: grid;
  grid-template-columns:  repeat(5, 1fr) ;
  grid-template-rows: repeat(3, 15vh);
  grid-gap: 15px 10px;
  justify-items: center;
  align-items: center;
}

.clientes img {
  max-height: 13vh;
  width: auto;
  max-width: 19vw;
}

.cliente_bancomer{
  grid-column-start: 1;
  grid-column-end: 3;
}

.cliente_7kat{
  grid-column-start: 1;
  grid-column-end: 3;
}

.frase{
  background-image: url("/assets/images/frases/frase_lyndon.png");
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  width:40vw;
  height: 25vh;
  position: absolute;
  right: 20px;
  top:50px;
}


@media (max-width: 500px) {
  .clientes{
    margin: auto 0 auto 0;
    grid-template-columns:  repeat(4, 1fr) ;
    grid-template-rows: repeat(5, 10vh);
    grid-gap: 0px;
    width: 100%;
  }

  .clientes img {
    max-height: 10vh;
    max-width: 20vw;
  }
  .cliente_bancomer{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .cliente_7kat{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .cliente_inah{
    display: none;
  }
}
